@import "tailwindcss";

@theme {
  --color-rsd-dark-blue: #03214f;
  --color-rsd-mid-blue: #6694c9;
  --color-rsd-light-blue: #cbe8ee;
  --color-rsd-title-blue: #0040a5;
  --color-rsd-yellow: #fccc71;
  --color-rsd-gold: #ffb71e;

  --font-rsd-main: "var(--dm-serif-display-font)";
  --font-rsd-alt: "var(--noticia-text-font)";
}
